body{
text-align: center;
color: black;
background-color: #E51E25;
}
.Banner{
    background-image: url('./images/4c67516ab6bf8f6ebda56b8bfb064d41.png');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    /* border:2px solid black; */
}
.navLinks{
   
    /* border:2px solid black; */
    width:100%;
    display: flex;
    justify-content: space-between;
}
.homeButton{
    margin: 10px;
    /* border:2px solid black; */
    background-color: #F8EF1D;
    border-radius: 50px;
}
.characterButton{
    margin: 10px;
    /* border:2px solid black; */
    background-color: #F8EF1D;
    border-radius: 50px;
}